<template>
    <div>
        <v-toolbar dense color="primary" dark>
            <v-toolbar-title>SUYAY TALLER 1</v-toolbar-title>
            <v-spacer></v-spacer>
            
            <v-toolbar-items>
                <v-btn @click="salir" flat>DESCONECTARSE ({{usuario}})</v-btn>            
            </v-toolbar-items>
        </v-toolbar>
        <v-container fluid grid-list>
            <v-layout>
                <v-flex xs12 md3>
                    <chat></chat>
                </v-flex>
                <v-flex md9 class="ml-3">
                    <task-list></task-list>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    
</template>

<script>
import Chat from '../components/Chat'
import TaskList from '../components/TaskList'
import firebase from '../firebase'
export default {
    mounted(){
        var self = this
        firebase.auth().onAuthStateChanged((user)=>{
            if(user != null){
                self.usuario = firebase.auth().currentUser.displayName
            }
        })
    },
    components:{
        Chat,TaskList
    },
    methods:{
        salir(){
            firebase.auth().signOut()
        }
    },
    data(){
        return {
            usuario : ""
        }
    }
}
</script>

<style>

</style>
