<template>
    <v-container>
        <v-layout>
            <v-flex xs12 offset-md3 md6>
                <v-card >   
                    <v-card-title><h2>INGRESAR</h2></v-card-title>
                    <v-form class="fill-form">
                        <v-text-field
                            v-model="email"
                            type="email"
                            label="Ingrese su correo electrónico"                        
                        >
                        </v-text-field>
                        <v-text-field
                            v-model="password"
                            type="password"
                            label="Ingrese su contraseña"                        
                        >
                        </v-text-field>
                        <v-btn block color="primary" class="mb-3" @click="loginEmail">INGRESAR</v-btn>
                        <p>O ingresa con ...</p>
                        <v-btn @click="loginGoogle" block class="mb-3">INGRESAR GOOGLE</v-btn>
                        <button  type="button" @click="loginFacebook" class="bg-facebook mb-3">LOGIN FACEBOOK</button>
                        <p>¿No tienes una cuenta? <a @click="irRegistro">REGISTRATE</a></p>
                    </v-form>
                </v-card>

                
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
 import firebase from '../firebase'
export default {        
    data(){
        return {
            email: '',
            password : '',
            logged : null
        }
    },
    methods:{
        loginEmail(){
            firebase.auth().signInWithEmailAndPassword(this.email,this.password).catch((error)=>{
                console.log(error)
            })
        },
        loginGoogle(){
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                    var token = result.credential.accessToken;
                    var user = result.user;
                }).catch(function(error) {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    var email = error.email;
                    var credential = error.credential;
                    // ...
            });
        },
        loginFacebook(){
            var provider = new firebase.auth.FacebookAuthProvider();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                    var token = result.credential.accessToken;
                    var user = result.user;
                }).catch(function(error) {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    var email = error.email;
                    var credential = error.credential;
            });
        },
        irRegistro(){
            this.$router.push('/registro')
        }
    }
}
</script>

<style>
    .fill-form{
        padding: 1.2em;
    }
    .bg-facebook{
        padding: 8px;
        width: 100%;
        color: #fff;
        background-color: #3b5998;
    }
</style>
