<template>
    <v-container>
        <v-layout>
            <v-flex xs12 offset-md3 md6>
                <v-card >   
                    <v-card-title><h2>REGISTRO</h2></v-card-title>
                    <v-form class="fill-form" v-model="valid">
                        <v-text-field
                            v-model="name"
                            type="text"
                            label="Ingrese su correo nombre"                        
                        ></v-text-field>
                        <v-text-field
                            v-model="email"
                            type="email"
                            label="Ingrese su correo electrónico"                        
                        >
                        </v-text-field>
                        <v-text-field
                            v-model="password"
                            type="password"
                            label="Ingrese su contraseña"                        
                        >
                        </v-text-field>
                        <v-btn block color="primary" @click="crearUsuario" class="mb-3">REGISTRARSE</v-btn>
                        <p>Ya tiene una cuenta? <a @click="irLogin">INGRESE</a></p>
                    </v-form>
                </v-card>

                
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
 import firebase from '../firebase'
export default {
    mounted(){
        var self = this
        
    },
    computed:{
        
    },
    data(){
        return {
            name : '',
            email: '',
            password : '',
            valid : false
        }
    },
    methods:{
        crearUsuario(){
            var self = this
            firebase.auth().createUserWithEmailAndPassword(this.email,this.password).then(()=>{
                firebase.auth().currentUser.updateProfile({
                    displayName : self.name
                }).then(()=>{
                    console.log("actualizado")
                })
            }).catch((error)=>{
                console.log(error)
            })
        },  
        irLogin(){
            this.$router.push('/login')
        }
    }
}
</script>

<style>
    
</style>
