<template>
    <v-card >
        <v-card-title primary-title>
            <h3>CHAT</h3>
        </v-card-title>
         <v-divider></v-divider>
        <v-list  
            class="chat_mensajes"
            v-chat-scroll
            dense three-line >
            <template v-for="(item,index) in messages">
                    <v-list-tile
                    :key="item.id"
                    avatar
                    >
                        <v-list-tile-avatar>
                            <img :src="item.avatar">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title><strong>{{setTitle(item)}}</strong><span> {{formatDate(item.time)}}</span></v-list-tile-title>
                            <v-list-tile-sub-title class="black--text">{{item.message}}</v-list-tile-sub-title>
                            
                        </v-list-tile-content>                
                    </v-list-tile>
                    <v-img
                        :key="item.imagenURL"
                        v-if="item.imagenURL"
                        :src="item.imagenURL"
                        aspect-ratio="1"
                        class="grey lighten-2"
                    />
                <v-divider :key="index"></v-divider>
            </template>                
        </v-list>
        <v-layout class="ml-3">
            <input ref="inputImagen" style="display:none" type="file" accept="image/*" @change="subirFoto" >
                <v-flex sm9>
                    <v-text-field
                        label="Escriba un mensaje"
                        v-model="mensaje"
                        :hint="fileName"
                        persistent-hint
                        v-on:keyup.13="addMessage"
                    >
                    </v-text-field>
                </v-flex>
                <v-flex sm1 class="mt-3">
                    <v-btn @click="addImagen" :loading="loading" flat icon color="primary">
                        <v-icon>image</v-icon>
                    </v-btn>
                </v-flex>
                <v-flex sm1 class="mt-3">
                    <v-btn @click="addMessage" :loading="loading" flat icon color="primary">
                        <v-icon>send</v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>
    </v-card>
    
</template>

<script>
import firebase from '../firebase'
var db = firebase.firestore()
var storage = firebase.storage().ref()
export default {
    mounted(){
        var _this = this
        firebase.auth().onAuthStateChanged((user)=>{
            if(user){
                db.collection("messages").orderBy('time').onSnapshot(function(snapshot) {
                    _this.messages = []
                    snapshot.docs.forEach((docMensaje)=>{
                        var mensaje = docMensaje.data()
                        mensaje.id = docMensaje.id
                        _this.messages.push(mensaje)
                    })
                });
            }
            
        });
        
    },
    data(){
        return {
            mensaje : "",
            messages: [],
            loading : false,
            fileName : '',
            imagen : null
        }
    },
    methods:{
        addImagen(){
            this.$refs.inputImagen.click()
        },
        addMessage(){
            
            var self = this
            
            this.loading = true
            var user = firebase.auth().currentUser
            var message = {
                avatar : user.photoURL,
                name : user.displayName,
                message : this.mensaje,
                time : firebase.firestore.FieldValue.serverTimestamp(),
                emisor : firebase.auth().currentUser.uid 
            }
            self.mensaje = ""
            self.fileName = ""
            if(this.imagen){
                this.subirStore(this.imagen).then((url)=>{
                    message.imagenURL = url
                    db.collection("messages").add(message).then((doc)=>{
                        self.loading = false
                    }).catch((error)=>{
                        self.loading = false
                    })
                }).catch((error)=>{
                    console.log(error)
                })
            }else{
                db.collection("messages").add(message).then((doc)=>{
                    self.loading = false
                }).catch((error)=>{
                    self.loading = false
                })
            }
            
        },
        formatDate(time){
            if(time == null){
                return ;
            }
            var date = new Date(time.toMillis())
            if(date.getMinutes()<10){
                return date.getHours()+":0"+date.getMinutes()
            }
            else{
                return date.getHours()+":"+date.getMinutes()
            }            
        },
        setTitle(mensaje){
            if(mensaje.emisor === firebase.auth().currentUser.uid){
                return mensaje.name+" (Tú)"
            }else{
                return mensaje.name
            }
        },
        subirStore(file){
            return new Promise((resolve,reject)=>{
                var storeFullName = firebase.auth().currentUser.uid+"/"+file.name
                storage.child(storeFullName).put(file).then((snapshot)=>{
                    storage.child(storeFullName).getDownloadURL().then((url)=>{
                        resolve(url)
                    }).catch((error)=>{
                        reject(error)
                    })
                }).catch((error)=>{
                    reject(error)
                })
            })
            
        },
        subirFoto(e){
            this.imagen = e.target.files[0]
            this.fileName = this.imagen.name
        }
    }
    
}
</script>

<style>
    .chat_mensajes{
        height: 75vh;
        overflow: auto;
    }
</style>
