<template>
<div>
    <v-text-field class="mx-3" v-model="tarea.content" @keyup.13="updateTask" v-if="showUpdateForm"></v-text-field>
    <v-list-tile v-else>
        <v-list-tile-action>
            <v-checkbox @change="updateTask"  color="primary" v-model="tarea.completed"></v-checkbox>
        </v-list-tile-action>
        <v-list-tile-content>
            <v-list-tile-title v-bind:class="{'completed': tarea.completed }">{{tarea.content}}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
        <v-btn flat icon color="green" @click="showUpdateForm = !showUpdateForm">
            <v-icon>edit</v-icon>
        </v-btn>
        </v-list-tile-action>
        <v-list-tile-action>
        <v-btn icon flat color="red" @click="deleteTask">
            <v-icon>delete</v-icon>
        </v-btn>
        </v-list-tile-action>
    </v-list-tile>
    <v-divider></v-divider>
</div>
    
        
</template>

<script>
import firebase from '../firebase'
const db = firebase.firestore()
export default {
    data(){
        return {
            tarea :{
                content : '',
                completed : false
            },
            showUpdateForm : false
        }
    },
    props:['task'],
    mounted(){
        var self = this
        this.tarea = this.task
        db.collection("tareas").doc(this.tarea.id).onSnapshot(function(doc) {
            if(doc.exists){
                var data = doc.data()
                self.tarea.content = data.content
                self.tarea.completed = data.completed   
            }
                         
        });
    },
    methods:{
        deleteTask(){
            db.collection('tareas').doc(this.tarea.id).delete().then(()=>{

            }).catch((error)=>{
                console.log(error)
            })
        },
        updateTask(){
            this.showUpdateForm = false
            db.collection('tareas').doc(this.tarea.id).update({
                content : this.tarea.content,
                completed : this.tarea.completed
            }).then(()=>{
                console.log("completado")
            }).catch((error)=>{
                console.log(error)
            })
        },
        showUpdate(){

        }
    }
}
</script>

<style>

</style>
