<template>
    <v-card>
        <v-card-title primary-title>
            <h3>TAREAS</h3>
        </v-card-title>
         <v-divider></v-divider>
         <v-text-field
            class="mx-3"
            v-model="nuevaTarea"
            label="Agregar una tarea"
            @keyup.13="addTask"
         >
         </v-text-field>
         <v-divider></v-divider>
         <v-list>
             <task v-for="tarea in tareas" :key="tarea.id" :task="tarea"></task>                
            
        </v-list>
    </v-card>
</template>

<script>
import Task from './Task'
import firebase from '../firebase'
const db = firebase.firestore()
export default {
    mounted(){
        var _this = this
        firebase.auth().onAuthStateChanged((user)=>{
            if(user){
                db.collection("tareas").onSnapshot(function(snapshot) {
                    _this.tareas = []
                    snapshot.docs.forEach((docTarea)=>{
                        var tarea = docTarea.data()
                        tarea.id = docTarea.id
                        _this.tareas.push(tarea)
                    })
                });
            }
            
        });
    },
    watch:{

    },
    data(){
        return {
            nuevaTarea : '',
            tareas : []
        }
    },
    components:{Task},
    methods:{
        addTask(){
            var self = this
            if(this.nuevaTarea.length !== 0){
                db.collection("tareas").add({
                    content : this.nuevaTarea,
                    completed : false
                }).then(()=>{
                    self.nuevaTarea = ""
                }).catch((error)=>{
                    console.log(error)
                })
            }
            
        },
        
    }
}
</script>

<style>
    .completed{
        text-decoration: line-through;
    }
</style>
