<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
  import firebase from './firebase'
  export default {
    mounted(){
      var self = this
      firebase.auth().onAuthStateChanged((user)=>{
            if(user != null){
              self.$router.push('/dashboard')
            }
            else{
              self.$router.push('/login')
            }
        })
    },
    data () {
      return {        
        
      }
    }
  }
</script>
